.login-form,
.cadastre-se-form {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 40px;
  border-radius: 10px;
  margin: 128px auto 0 auto;
}

.login-form label,
.cadastre-se-form label {
  color: #222;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 700;
}

.login-form input,
.cadastre-se-form input {
  color: #222;
  font-size: 20px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-bottom: 16px;
  padding-left: 8px;
}

.login-form input[type="submit"],
.cadastre-se-form input[type="submit"] {
  background-color: #222;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
}