.header {
  background-color: #222;
  padding: 20px 40px;
}

.header a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.submenu {
  background-color: #444;
  color: #fff;
  display: flex;
  gap: 30px;
  padding: 20px 40px;
}